/* Style pour la vue de résultat d'authentification */

.result-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8a2be2; /* Couleur violette */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(202, 19, 16, 0.1);
}

.result-container h2 {
    color: #fff; /* Texte blanc */
    text-align: center;
}

.result-container p {
    color: #fff; /* Texte blanc */
    text-align: center;
}
